.listProperties {
    display: flex;
}

.footer-icons {
    margin-right: 20px;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}
.list-title {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2;
    /* justify-content: center; */
}

.list-item {
    margin: 0 20px 18px 0;
    }


a.list-item-link{
    text-decoration: none;
    color: white;
    justify-content: center;
    font-size: 17px;
    align-items: center;
}

a.list-item-link:hover {
    color: rgb(240, 100, 112);
    
}

.list-item-container {
    padding-top: 17px;
}


