.password-div {
    display: flex;
    height: 500px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-password-btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.req-inf {
    margin-bottom: 15px;
    width: 180px;
    font-style: italic;
}

.change-password-btn {
    margin-top: 20px;
    background-color: #4C9453 !important;
    width: 220px;
    outline-color:  #4C9453 !important;
    border-color:  #4C9453 !important;
}
