h1,
h2 {
  padding: 0 2%;
  margin: 0 auto;
  color: #aaa;
}
.left,
.right {
  text-align: center;
}
.row-fields {
  margin: 15px auto;
  padding: 15px 0;
}
.row-1 {
  margin-top: 4% !important;
}
.frm-control {
  margin: 0 auto;
  width: 85% !important;
}
.frm-group {
  width: 45% !important;
}
.row-fields {
  margin: 0 auto;
}
.submit-btn {
  align-self: center;
  vertical-align: middle;
}

@media only screen and (max-width: 992px) {
  [class*='main-row'] {
    margin-left: 0 !important;
  }
  [class*='left'] {
    display: none;
  }
}
