h1,
h2 {
  padding: 16px 0;
  margin: 20px auto;
  color: #aaa;
}
.left,
.right {
  text-align: center;
  margin: 0 auto;
}
.row-fields {
  margin: 15px auto;
  padding: 15px 0;
}
.form-control {
  width: 85% !important;
}
.form-group {
  width: 45% !important;
}
.submit-btn {
  align-self: center;
  vertical-align: middle;
}
@media only screen and (max-width: 992px) {
  [class*='form-group'] {
    width: 100%;
    text-align: center;
  }
  [class*='right'] {
    margin: auto auto;
  }
  [class*='left'] {
    display: none;
  }
}
