.wrap {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-info {
 width: 850px;
 padding: 15px;
}

.availableCourses {
    background-color: white;
    color: #00132A;
    outline-color:#00132A;
    border-color:white;
    margin: 35px 10px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 5px;
    box-shadow: 3px 5px 14px #bebcbc; 
    }

.link {
    background-color: transparent;
    max-width: 10px;
}

.availableCourses {
    background-color: #5C66A9;
    color: white;
    outline-color: #5C66A9;
    border-color: #5C66A9;
    box-shadow: 3px 5px 14px #bebcbc;
}

.availableCourses:hover,
.availableCourses:focus,
.availableCourses:active,
.availableCourses:visited,
.availableCourses:active:hover{
    background-color: #464F86 !important;
    box-shadow: 3px 5px 14px #bebcbc; 
}


@media only screen and (max-width: 800px) {
    .search-info {
        max-width: 500px;
        padding: 15px;
       }
} 