@media screen and (max-width: 760px) {#c{
    margin: 0 auto;
  }}


.auth-button:hover {
    color: black;
}

.navigation:hover {
    color: black;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .5s;
}
.navigation{
    color: black !important;
    text-decoration: none !important;
}
.navbar-dark .navbar-toggler-icon{
    background-image: url(../../assets/images/collapse.svg);
}
.test:focus{
    outline: none !important;
    border: none !important;
}