.course-list li {
    background-color: #232324;
    /* word-wrap: break-word; */
}
  
.course-list li:hover {
    cursor: pointer;
    background-color: #ffbb32;
}
  
.course-list li:active {
    background-color: #232324;
}
  
.cs-nav {
    text-align: center;
    /* margin-left: 38%; */
}
  
.cs-nav li {
    font-size: 20px;
    display: inline;
    /* list-style-type: none; */
    margin-right: 20px;
}
.cs-nav li:hover {
    cursor: pointer;
    /* text-decoration: underline; */
}
.abo {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
  
.abo-left {
    width: 80%;
    margin-left: 8%;
    margin-right: 2%;
}
  
.abo-right {
    width: 15%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-col{
    color: #000;
}

.li-col:hover {
    color:#000;
}

.main-cont{
    justify-content: center;
}
.container{
    display: flex;
    flex-flow: row;
}

.fav{
    margin-left:8%;
}

.c-link{
    color: #337ab7;
}

.c-image {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.card-foot {
    background-color: #f4f4f4;
}

.inst{
    font-weight: 400;
    color:#232324;
    font-style: italic;
}

.desc{
    height: 30vh;
}